@charset "utf-8";
/* CSS Document */
body {
	font-family: sans-serif;
	font-size: 16px;
	background-color: #AEBBDF;
}
.full_page {	
	padding: 40px;
}

.full_form {
	max-width: 450px;
	background-color: #ffffff;
	border: 1px solid #7A7A7A;
	margin: auto;
	padding: 50px;
	border-radius: 7px;
}
.full_form * {
	box-sizing: border-box;
	line-height: 1.8;
}


.form_title {
	font-size: 1.5em;
	font-weight: bold;
	color: #0a0e54;
}

.form_desc {
	padding-bottom: 10px;
}

.form_item {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.form_item > * {
	align-self: flex-start;
}

.form_label {
	font-weight: bold;
	padding: 5px 0 0 0;
	color: #0a0e54;
}

input[type="submit"],input[type="button"],button{
	background-color: #27449F;
	border: 0px;
	color: #ffffff;
	padding: 7px 20px;
	border-radius: 5px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #5A6590;
}

input[type="submit"]:focus {
	outline: none;
	background-color: #5A6590;
}

.form_input {
	padding: 7px;
	border: 1px solid #dddddd;
	background-color: #f9f9f9;
	border-radius: 5px;
	width: 100%;
	max-width: 425px;
	transition: background 0.5s, border-color 0.5s, color 0.5s;
}

.form_input:focus {
	outline: none;
	background-color: #ffffff;
	color: #000000;
	box-shadow: 0px 0px 7px #27449F;
}

.form_input::placeholder {
	color: #999999;
}

.form_input-error {
	color: #FF0004;
	border: 1px solid #FF0004;
	background-color: #FFFFFF;
}

.form_input-error::placeholder {
	color: #FB696C;
}
.form_error {
	color: #FF0004;
	font-size: 0.9em;
	display: none;
/*	visibility: hidden; */
}
.form_input-error + .form_error {
	display: block;
	/*	visibility: visible; */
}
.form_input-small {
	max-width: 225px;
}
textarea.form_input {
	font-family: sans-serif;
	font-size: .9em;
	color: #000000;
	resize: none;
	min-height: 100px;
}
textarea.form_input:focus{
	outline: none;
	border: 1px solid #000000;
	background-color: #ffffff;
	color: #000000;
}
textarea.form_input::placeholder{
	color: #999999;
}


 